
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
:root {
    --background-primary: transparent !important;
    --background-accent: var(--main-color);
    --background-secondary: transparent !important;
    --background-secondary: transparent !important;
    --background-secondary-alt: transparent !important;
    --background-tertiary: rgba(0, 0, 0, 0.2) !important;
    --background-modifier-hover: rgba(255, 255, 255, 0.05) !important;
    --background-modifier-active: rgba(255, 255, 255, 0.05) !important;
    --background-modifier-selected: rgba(255, 255, 255, 0.1) !important;
    --scrollbar-auto-thumb: var(--scroll-thumb-color);
    --scrollbar-thin-thumb: var(--scroll-thumb-color);
    --scrollbar-auto-track: rgba(0, 0, 0, 0.1) !important;
    --scrollbar-thin-track: transparent !important;
    --text-link: var(--accent-color);
    --text-muted: rgba(255, 255, 255, 0.5);
    --brand-experiment: var(--main-color);
    --control-brand-foreground: var(--main-color);
    --channels-default: rgba(255, 255, 255, 0.7);
    --interactive-muted: rgba(255, 255, 255, 0.3);
    --background-floating: rgba(0, 0, 0, 0.9);
    --background-modifier-accent: rgba(255, 255, 255, 0.1);
    --app-background: url("https://i.ibb.co/dgffr6S/2.jpg");
    --main-color: #ff0000;
    --main-color-selected: #a30000;
    --main-color-semitransparent: #ff0000;
    --main-color-semitransparent-selected: #ff0000;
    --accent-color: #ff0000;
    --accent-color-semitransparent: #ffae001a;
    --accent-saturated: #ff0000;
    --accent-desaturated: #ff0000;
    --button-text: #dddddd;
    --button-text-selected: #ffffff;
    --profile-activity: #ff0000;
    --scroll-thumb-color: #ff0000;
}
body::after {
    background-image: var(--app-background) !important;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left top;
    z-index: -100;
}
.theme-dark .container-2cd8Mz {
    background-color: transparent !important;
}
[class^=appMount-],
[class^=app-],
[class^=bg-] {
  background: transparent !important;
}
#app-mount > [class^=typeMacOS],
#app-mount > [class^=typeWindows] {
  height: 18px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4px;
}

[class^=chat-] > [class^=content-] > div {
  background: transparent !important;
}

[class^=wrapper-] {
  border: none;
}

[class^=sidebar-] > nav > div:first-child,
[class^=base-] > [class^=content-] > div:nth-child(2) section[class*=container-] {
  background: rgba(0, 0, 0, 0.1) !important;
}
button[class*=lookFilled-][class*=colorGrey],
button[class*=lookFilled-][class*=colorPrimary-] {
  background: var(--accent-color-semitransparent) !important;
  color: var(--button-text) !important;
}
button[class*=lookFilled-][class*=colorGrey]:hover,
button[class*=lookFilled-][class*=colorPrimary-]:hover {
  background: var(--accent-color-semitransparent) !important;
  color: var(--button-text-selected) !important;
}

button[class*=colorBrand-]:not([class*=lookBlank]) {
  background: var(--main-color);
  color: var(--button-text);
}
button[class*=colorBrand-]:not([class*=lookBlank]):hover {
  background: var(--main-color-selected);
  color: var(--button-text-selected);
}

button[class*=colorBrand-][class*=lookInverted] {
  background: var(--button-text-selected);
  color: var(--main-color-selected);
}
button[class*=colorBrand-][class*=lookInverted]:hover {
  background: var(--button-text);
  color: var(--main-color);
}

button[class*=lookOutlined-]:not([class*=lookBlank]) {
  color: var(--button-text);
  border-color: transparent !important;
}

button[class*=colorGreen-],
button[class*=colorRed-] {
  background: var(--main-color) !important;
  color: var(--button-text) !important;
}
button[class*=colorGreen-]:hover,
button[class*=colorRed-]:hover {
  background: var(--main-color-selected) !important;
  color: var(--button-text-selected) !important;
}


[class^=control-] [class^=container-] {
    background: var(--accent-color-semitransparent) !important;
  }
  
  [class^=control-] [class^=container-][style*="hsl(139"] {
    background: var(--main-color) !important;
  }
  [class^=control-] [class^=container-][style*="hsl(139"] [class^=slider] path {
    fill: var(--main-color);
  }
  
  input {
    transition: all 0.3s;
  }
  
  input:focus {
    border-color: var(--accent-desaturated) !important;
    box-shadow: none transparent;
  }
  
  [aria-checked=true] [class*=iconContainer] svg > path:first-child {
    fill: var(--main-color);
  }
  
  [aria-checked=true] [class*=iconContainer] svg > path:last-child {
    fill: var(--button-text-selected) !important;
  }
  
  [class^=select][role=button] {
    background: rgba(0, 0, 0, 0.2);
  }
  
  [class^=select][role=button][class*=open] {
    background: rgba(0, 0, 0, 0.9);
  }
  
  [class^=popout][role=listbox] {
    background: rgba(0, 0, 0, 0.9);
  }
  
  [class^=slider-] > [class^=bar-] {
    background: var(--accent-color-semitransparent) !important;
  }
  [class^=slider-] > [class^=bar-] [class^=barFill-] {
    background: var(--main-color) !important;
  }
  
  [class^=colorPrimary-] {
    background: var(--main-color) !important;
  }
  
  [class*=tooltipGrey],
  [class*=tooltipPrimary],
  [class*=tooltipGreen] {
    background: rgba(0, 0, 0, 0.95) !important;
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
  }
  [class*=tooltipGrey] [class*=tooltipPointer],
  [class*=tooltipPrimary] [class*=tooltipPointer],
  [class*=tooltipGreen] [class*=tooltipPointer] {
    border-top-color: black !important;
  }
  
  [class^=layerContainer-] > [class*=toolbar] {
    background: rgba(0, 0, 0, 0.95) !important;
    border: 2px solid black;
  }
  [class^=layerContainer-] > [class*=toolbar]::before {
    border-top-color: black !important;
  }
  
  [class^=backdrop] {
    background: linear-gradient(#00000022, #000000ff) !important;
  }
  
  [class^=pro-],
  [class*=protip] {
    color: var(--accent-saturated) !important;
  }
  
  [class^=channelTextArea] {
    border-radius: 8px;
  }
  [class^=channelTextArea] [class*=scrollableContainer] {
    background: rgba(0, 0, 0, 0.1);
  }
  [class^=channelTextArea] [class*=scrollableContainer] [class^=attachWrapper] {
    border-right-color: rgba(255, 255, 255, 0.1);
  }
  [class^=channelTextArea] [class^=autocomplete] {
    background: transparent !important;
  }
  [class^=channelTextArea] [class^=autocompleteInner] {
    background: rgba(0, 0, 0, 0.9) !important;
    border-color: transparent !important;
  }
  [class^=channelTextArea] [class*=autocompleteRow] > [class*=selected] {
    background: var(--main-color-semitransparent-selected) !important;
  }
  [class^=channelTextArea] > [class^=container-] > [class^=containerBackground] {
    background: rgba(0, 0, 0, 0.95) !important;
    border-color: transparent;
  }
  [class^=channelTextArea] [class*=inner] [class^=buttons] > button:first-child {
    display: none !important;
  }
  
  [class*=floating] > section {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  [class*=floating]::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: var(--app-background) center/cover no-repeat fixed;
    background-position: unset;
  }
  
  [class^=drawerSizingWrapper-] > [class^=contentWrapper-] {
    background: rgba(0, 0, 0, 0.9) !important;
  }
  [class^=drawerSizingWrapper-] > [class^=contentWrapper-] [class^=navList-] > [class^=navItem-] > [class^=navButtonActive-] {
    background: var(--main-color) !important;
  }
  [class^=drawerSizingWrapper-] > [class^=contentWrapper-] [class^=unicodeShortcut-],
  [class^=drawerSizingWrapper-] > [class^=contentWrapper-] [class^=inspector-] {
    background: #000;
  }
  
  [class*=followButton] {
    background: var(--main-color) !important;
    color: var(--button-text) !important;
  }
  [class*=followButton]:hover {
    background: var(--main-color-selected) !important;
    color: var(--button-text-selected) !important;
  }
  
  [class*=chatContent] form > div > [class^=wrapper] {
    background: rgba(0, 0, 0, 0.3);
  }
  
  [class*=chatContent] button:not([class*=lookBlank], [class*=barButtonBase]) {
    background: var(--main-color) !important;
    color: var(--button-text) !important;
  }
  [class*=chatContent] button:not([class*=lookBlank], [class*=barButtonBase]):hover {
    background: var(--main-color-selected) !important;
    color: var(--button-text-selected) !important;
  }
  
  [class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn]) {
    background: rgba(0, 0, 0, 0.2) !important;
    min-width: 40px !important;
    min-height: 40px !important;
    display: flex;
    align-content: center;
  }
  [class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn]):hover {
    border-color: transparent;
  }
  [class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn]) img {
    width: 30px !important;
    height: 30px !important;
  }
  [class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn])[class*=reactionMe] {
    border-color: var(--main-color);
    background: rgba(0, 0, 0, 0.4) !important;
  }
  
  [class*=reactionCount-] {
    color: var(--accent-color) !important;
  }
  
  [class^=layerContainer-] [class^=layer-] [class*=reactors-] {
    background: transparent !important;
  }
  [class^=layerContainer-] [class^=layer-] [class*=reactors-] div:not([class*=contents]) {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  [class^=layerContainer-] [class^=layer-] [class*=menu-] {
    background: rgba(0, 0, 0, 0.95) !important;
    box-shadow: none !important;
  }
  [class^=layerContainer-] [class^=layer-] [class*=menu-] [class*=wrapper-] img {
    width: 30px !important;
    height: 30px !important;
  }
  
  [class*=messagesPopoutWrap] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  
  [class^=uploadDropModal] [class^=bgScale] {
    background: var(--profile-activity) !important;
  }
  [class^=uploadDropModal] [class*=icons] {
    filter: hue-rotate(110deg) contrast(1.3) !important;
  }
  
  [class^=uploadModal] {
    background: rgba(0, 0, 0, 0.95) !important;
    box-shadow: none !important;
  }
  [class^=uploadModal] [class^=footer] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  [class^=uploadModal] label[class*=checked] [class*=checkbox] {
    background: var(--main-color) !important;
    border-color: transparent !important;
  }
  [class^=uploadModal] label[class*=checked] [class*=checkbox] svg path {
    fill: #fff !important;
  }
  
  [id^=message-content-Uploader] > div[class*=attachment] {
    background: rgba(0, 0, 0, 0.3);
    border-color: #000000;
  }
  [id^=message-content-Uploader] > div[class*=attachment] [class*=progressBar] {
    background: var(--accent-color) !important;
  }
  
  [id^=message-accessories] > [class^=embedWrapper] {
    background: var(--accent-color-semitransparent) !important;
    border-color: var(--accent-saturated) !important;
  }
  
  [class^=messageAttachment] {
    border-color: #000 !important;
  }
  [class^=messageAttachment] > [class^=attachment], [class^=messageAttachment] > [class^=embedWrapper] {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  [class^=messageAttachment] code {
    background: transparent !important;
  }
  [class^=messageAttachment] [class^=textContainer] + div {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  
  [id^=message-content] [class*=mention] {
    color: var(--accent-desaturated);
    background: rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px;
  }
  [id^=message-content] [class*=mention]:hover {
    background: rgba(0, 0, 0, 0.4) !important;
  }
  
  [class*=mentioned] {
    background: linear-gradient(90deg, transparent 5px, var(--accent-color-semitransparent) 5px, transparent 80%) !important;
  }
  [class*=mentioned] [class*=mention] {
    color: var(--accent-saturated);
    background: rgba(0, 0, 0, 0.2) !important;
  }
  [class*=mentioned]::before {
    left: 1px;
    border-radius: 5px 0 0 5px;
    background: var(--accent-saturated);
    border-left: 2px solid var(--accent-saturated);
  }
  
  [class*=message] [class*=buttonContainer] [class*=container] [class*=wrapper] {
    background: rgba(0, 0, 0, 0.95);
  }
  
  [class*=recentMentionsPopout] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  
  [class*=layer] [class*=wrapper] [class*=emojiPicker] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  [class*=layer] [class*=wrapper] [class*=emojiPicker] [class*=emojiItem] {
    transition: transform 0.2s ease-in-out;
  }
  [class*=layer] [class*=wrapper] [class*=emojiPicker] [class*=emojiItemSelected] {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
  }
  
  [class^=threadSidebar] {
    background: rgba(0, 0, 0, 0.95);
  }
  
  [class*=layer] [class*=browser] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  
  [class*=hasThread] [class*=cta] {
    color: var(--accent-color) !important;
  }
  
  [class*=messagesWrapper] [class*=content] [class*=divider] {
    border-color: transparent;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  [class*=messagesWrapper] [class*=content] [class*=divider] [class*=content] {
    color: var(--accent-saturated) !important;
    width: 95%;
    transform: translateY(6px);
  }
  [class*=messagesWrapper] [class*=content] [class*=divider]:not([class*=isUnread]) > span {
    color: rgba(255, 255, 255, 0.7) !important;
    background: rgba(204, 204, 204, 0.1) !important;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 15px;
    text-align: center;
    width: 90%;
  }
  [class*=messagesWrapper] [class*=content] [class*=divider] [class*=isUnread] {
    background: transparent !important;
    color: var(--accent-saturated) !important;
    width: 95%;
    transform: translateY(6px);
  }
  
  [class*=unreadPill] {
    background: var(--main-color-semitransparent) !important;
    color: var(--accent-saturated) !important;
    padding: 12px 0px;
    width: 100%;
    font-size: 14px;
  }
  
  [class*=unreadPillCap] {
    visibility: hidden;
  }
  
  [id^=status-picker] {
    transition: background 200ms ease-out;
  }
  
  #status-picker-online {
    color: #43b581;
  }
  #status-picker-online[class*=focused] {
    background: #43b58244;
  }
  #status-picker-idle {
    color: #faa61a;
  }
  #status-picker-idle[class*=focused] {
    background: #faa81a42;
  }
  #status-picker-dnd {
    color: #f04747;
  }
  #status-picker-dnd[class*=focused] {
    background: #b83a3c3d;
  }
  #status-picker-invisible {
    color: #747f8d;
  }
  #status-picker-invisible[class*=focused] {
    background: #747f8d3d;
  }
  #status-picker-custom-status[class*=focused] {
    background: #ff4db53d;
  }
  
  [class^=newMessagesBar-] {
    background: var(--main-color) !important;
    padding: 3px 0;
    border-color: transparent !important;
  }
  
  [class^=jumpToPresentBar-] {
    background: var(--accent-desaturated) !important;
    padding: 3px 0;
    border-color: transparent !important;
  }
  
  [id^=message-accessories-] > [class*=wrapper] {
    background: rgba(0, 0, 0, 0.2);
  }
  
  [id^=message-accessories-] > [class*=wrapper] [class*=guildIconImage] {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  [class*=title] [class*=search] {
    order: 1;
    margin-left: 4px;
  }
  [class*=title] [class*=search] [class*=search]:not([class*=open]) [class*=searchBar] {
    width: 27px;
    transition: 250ms;
    background: transparent;
    border-bottom: 2px solid transparent;
  }
  [class*=title] [class*=search] [class*=search]:not([class*=open]) [class*=searchBar] [class*=iconContainer] {
    transform: scale(1.3);
    transition: 250ms;
  }
  [class*=title] [class*=search] [class*=search]:not([class*=open]) [class*=searchBar] [class*=iconContainer] [class*=icon] {
    color: var(--interactive-normal);
  }
  [class*=title] [class*=search] [class*=search]:not([class*=open]):hover [class*=searchBar] {
    width: 240px;
    background: rgba(0, 0, 0, 0.15);
  }
  [class*=title] [class*=search] [class*=search]:not([class*=open]):hover [class*=searchBar] [class*=iconContainer] {
    transform: scale(1);
  }
  [class*=title] [class*=search] [class*=search]:not([class*=open]):hover [class*=searchBar] [class*=iconContainer] [class*=icon] {
    color: var(--text-muted);
  }
  
  [class*=DraftEditor] [class*=searchFilter],
  [class*=DraftEditor] [class*=searchAnswer] {
    background: var(--main-color);
  }
  
  [id*=popout] > [class*=container] {
    background: rgba(0, 0, 0, 0.95);
    box-shadow: none !important;
  }
  [id*=popout] > [class*=container] [class*=resultsGroup] {
    text-align: center;
  }
  [id*=popout] > [class*=container] [class*=resultsGroup] [class*=selected],
  [id*=popout] > [class*=container] [class*=resultsGroup] [class*=option]:hover {
    background: var(--main-color-semitransparent-selected);
  }
  [id*=popout] > [class*=container] [class*=resultsGroup]::before,
  [id*=popout] > [class*=container] [class*=resultsGroup] [class*=option]::after {
    visibility: hidden !important;
  }
  [id*=popout] > [class*=container] [class*=queryContainer] {
    background: black;
  }
  [id*=popout] > [class*=container] [class*=queryContainer] span {
    background: var(--main-color);
  }
  [id*=popout] > [class*=container] [class*=searchLearnMore] {
    display: none;
  }
  
  [class*=datePicker] {
    background: rgba(0, 0, 0, 0.9) !important;
  }
  [class*=datePicker] [class*=hintValue] {
    margin-left: 5px;
    background: var(--main-color) !important;
    color: var(--button-text) !important;
  }
  [class*=datePicker] [class*=hintValue]:hover {
    background: var(--main-color-selected) !important;
    color: var(--button-text-selected) !important;
  }
  
  [class*=react-datepicker] {
    background: transparent !important;
  }
  [class*=react-datepicker] [class*=month] > [class*=week] [class*=day]:not([class*=day--disabled]) {
    background: var(--main-color-semitransparent) !important;
  }
  [class*=react-datepicker] [class*=month] > [class*=week] [class*=day]:not([class*=day--disabled]):hover {
    background: var(--main-color-semitransparent-selected) !important;
  }
  [class*=react-datepicker] [class*=month] > [class*=week] [class*=selected] {
    background: var(--main-color-semitransparent-selected) !important;
  }
  [class*=react-datepicker] [class*=month] > [class*=week] [class*=selected]::after {
    background: var(--main-color-semitransparent-selected) !important;
  }
  [class*=react-datepicker] [class*=month] > [class*=week] [class*=outside-month]:not([class*=day--disabled]) {
    background: var(--main-color-semitransparent) !important;
    opacity: 0.3 !important;
  }
  
  [class*=searchResultsWrap] [class*=channelSeparator] [class*=channelName] {
    background: transparent;
    text-align: right !important;
    border-radius: 8px;
    padding: 5px !important;
  }
  [class*=searchResultsWrap] [class*=channelSeparator] [class*=channelName]:hover {
    background: var(--main-color-semitransparent-selected);
    text-decoration: none;
  }
  [class*=searchResultsWrap] [class*=searchHeader] {
    background: rgba(0, 0, 0, 0.3) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  [class*=searchResultsWrap] [class*=searchResult][class*=expanded] {
    border-color: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04) !important;
    background: rgba(0, 0, 0, 0.1) !important;
    opacity: 1;
  }
  [class*=searchResultsWrap] [class*=searchResult] [class*=searchResultMessage][class*=after], [class*=searchResultsWrap] [class*=searchResult] [class*=searchResultMessage][class*=before] {
    opacity: 0.15 !important;
  }
  
  [class*=actionButtons] [class*=jumpButton] {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 3px !important;
    color: var(--button-text) !important;
  }
  [class*=actionButtons] [class*=jumpButton]:hover {
    background: rgba(0, 0, 0, 0.6) !important;
    color: var(--button-text-selected) !important;
  }
  
  [class*=pageControlContainer] {
    background: rgba(0, 0, 0, 0.3) !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  [class*=pageControlContainer] [class*=activeButton] {
    background: var(--main-color) !important;
  }
  [class*=pageControlContainer] [class*=roundButton]:not([class*=activeButton]):hover {
    background: var(--main-color-semitransparent) !important;
  }
  
  [class*=backgroundFlash] {
    background: transparent !important;
  }
  [class*=backgroundFlash] li {
    background: var(--accent-color-semitransparent) !important;
    border-radius: 5px 0 0 5px;
  }
  
  [class*=replyBar] {
    background: rgba(0, 0, 0, 0.1);
    margin-top: 8px;
  }
  [class*=replyBar] [class*=colorLink] {
    color: var(--button-text);
  }
  
  [class*=channelAttachmentArea] > li {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  [class*=channelAttachmentArea] > li [class*=actionBar] [class*=wrapper] {
    background: rgba(0, 0, 0, 0.7) !important;
  }
  
  code {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  code .hljs-keyword {
    color: var(--accent-desaturated) !important;
  }
  code .hljs-title {
    color: var(--accent-saturated) !important;
  }
  code .hljs-literal {
    color: var(--main-color-selected) !important;
  }
  code .hljs-string {
    color: var(--button-text) !important;
  }
  code .hljs-attribute {
    color: var(--accent-desaturated) !important;
  }
  code .hljs-selector-class {
    color: var(--accent-saturated) !important;
  }
  code .hljs-number {
    color: var(--main-color-selected) !important;
  }
  code .hljs-selector-tag {
    color: var(--accent-desaturated) !important;
  }
  
  [class*=replying] {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  [class*=replying]::before {
    left: 3px;
    border-radius: 5px 0 0 5px;
    background: var(--accent-saturated);
    border-left: 2px solid var(--accent-saturated);
  }
  
  [class^=categoryFadeBlurple-] {
    background: var(--main-color) !important;
  }
  
  [class*=chat] form {
    margin: 0px;
  }
  
  [src*="avatars/214676791955161091"][class*=clickable],
  [style*="avatars/214676791955161091"][class*=avatar] {
    -webkit-animation: rotate1 40s linear infinite;
    animation: rotate1 40s linear infinite;
  }
  
  [src*="avatars/221743310744715265"][class*=clickable],
  [style*="avatars/221743310744715265"][class*=avatar] {
    -webkit-animation: rotate2 40s linear infinite;
    animation: rotate2 40s linear infinite;
  }
  
  @-webkit-keyframes rotate1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .app,
  body::after {
    will-change: opacity, filter;
    -webkit-animation: fadeIn 2s ease-out;
    animation: fadeIn 2s ease-out;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-filter: blur(10px);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-filter: blur(10px);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  }
  [class*=connection] div:nth-child(2) button:nth-child(2) {
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgOWMtMS42IDAtMy4xNS4yNS00LjYuNzJ2My4xYzAgLjM5LS4yMy43NC0uNTYuOS0uOTguNDktMS44NyAxLjEyLTIuNjYgMS44NS0uMTguMTgtLjQzLjI4LS43LjI4LS4yOCAwLS41My0uMTEtLjcxLS4yOUwuMjkgMTMuMDhjLS4xOC0uMTctLjI5LS40Mi0uMjktLjcgMC0uMjguMTEtLjUzLjI5LS43MUMzLjM0IDguNzggNy40NiA3IDEyIDdzOC42NiAxLjc4IDExLjcxIDQuNjdjLjE4LjE4LjI5LjQzLjI5LjcxIDAgLjI4LS4xMS41My0uMjkuNzFsLTIuNDggMi40OGMtLjE4LjE4LS40My4yOS0uNzEuMjktLjI3IDAtLjUyLS4xMS0uNy0uMjgtLjc5LS43NC0xLjY5LTEuMzYtMi42Ny0xLjg1LS4zMy0uMTYtLjU2LS41LS41Ni0uOXYtMy4xQzE1LjE1IDkuMjUgMTMuNiA5IDEyIDl6Ii8+PC9zdmc+) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 0.5;
  }
  [class*=connection] div:nth-child(2) button:nth-child(2) svg {
    display: none;
  }
  [class*=connection] div:nth-child(2) button:nth-child(2):hover {
    -webkit-animation: disconnect1 0.06s infinite alternate;
    animation: disconnect1 0.06s infinite alternate;
    background-color: transparent;
    opacity: 1;
  }
  
  @-webkit-keyframes disconnect1 {
    from {
      -webkit-transform: rotate(-7deg);
      transform: rotate(-7deg);
    }
    to {
      -webkit-transform: rotate(7deg);
      transform: rotate(7deg);
    }
  }
  @keyframes disconnect1 {
    from {
      -webkit-transform: rotate(-7deg);
      transform: rotate(-7deg);
    }
    to {
      -webkit-transform: rotate(7deg);
      transform: rotate(7deg);
    }
  }
  [class^=scroller-] {
    background: transparent !important;
  }
  
  [class*=wrapper][class*=guilds] [class*=listItemWrapper] > a {
    background: rgba(0, 0, 0, 0.6);
    border-color: var(--accent-saturated);
    color: var(--accent-saturated);
  }
  [class*=wrapper][class*=guilds] [class*=listItemWrapper] > a:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  [class*=wrapper][class*=guilds] [class*=folder],
  [class*=wrapper][class*=guilds] [class*=closedFolderIconWrapper],
  [class*=wrapper][class*=guilds] [class*=expandedFolderBackground] {
    background: transparent !important;
  }
  [class*=wrapper][class*=guilds] [class*=folderIconWrapper],
  [class*=wrapper][class*=guilds] [class*=expandedFolderBackground]:not([class*=collapsed]) {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px;
  }
  [class*=wrapper][class*=guilds] [class*=circleIconButton] {
    background: rgba(0, 0, 0, 0.3) !important;
    color: var(--accent-saturated);
  }
  [class*=wrapper][class*=guilds] #bd-pub-button,
  [class*=wrapper][class*=guilds] foreignObject > [class^=wrapper] > [class*=childWrapper],
  [class*=wrapper][class*=guilds] foreignObject > [class^=wrapper] > img {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
  [class*=wrapper][class*=guilds] foreignObject > [class^=wrapper][class*=selected] > [class*=childWrapper] {
    background-color: var(--main-color) !important;
  }
  [class*=wrapper][class*=guilds] [class*=iconBadge] {
    background: var(--main-color) !important;
  }
  [class*=wrapper][class*=guilds] [class*=numberBadge] {
    background: var(--main-color) !important;
  }
  
  [class^=unreadMentionsIndicator] > [class*=bar] {
    background: var(--main-color);
  }
  
  [class*=colorPickerCustom] {
    background: black !important;
    border-color: transparent;
  }
  
  button[style="background-color: rgb(88, 101, 242);"] {
    background: var(--accent-color) !important;
  }
  
  svg[style="color: rgb(88, 101, 242);"] path {
    fill: var(--accent-color);
  }
  
  [class*=header] h3 {
    color: rgba(255, 255, 255, 0.8);
  }
  
  [class*=footer] h3 {
    color: rgba(255, 255, 255, 0.8);
  }
  
  [class*=footerButton] {
    background: var(--main-color) !important;
    color: var(--button-text) !important;
  }
  [class*=footerButton]:hover {
    background: var(--main-color-selected) !important;
    color: var(--button-text-selected) !important;
  }
  
  [class^=listItem] > [class^=wrapper] > [class*=target]::before, [class^=listItem] > [class^=wrapper] > [class*=centerTarget]::before {
    background: var(--accent-color);
  }
  
  header h1[class^=name] {
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;
  }
  
  [class^=sidebar] [class*=selected] header {
    background: transparent;
  }
  
  [class*=labelContainer] svg {
    transition: transform 0.2s ease-in-out;
  }
  
  [class*=labelContainer][class*=focused] {
    background: var(--main-color) !important;
  }
  [class*=labelContainer][class*=focused] svg {
    transform: scale(1.2);
  }
  
  [class*=tabBarItem]:hover {
    border-bottom-color: var(--main-color-selected) !important;
  }
  
  [class*=tabBarItem][class*=da-selected] {
    border-bottom-color: var(--main-color) !important;
  }
  
  [class*=sidebar] [class*=containerDefault] [class*=icon] {
    color: rgba(255, 255, 255, 0.6) !important;
  }
  [class*=sidebar] [class*=containerDefault] [class*=icon] > path {
    opacity: 0.6;
  }
  [class*=sidebar] [class*=containerDefault] [class*=icon] > path:last-of-type {
    opacity: 0.9;
  }
  [class*=sidebar] [class*=containerDefault] [class*=content]:hover {
    background: transparent !important;
  }
  [class*=sidebar] [class*=containerDefault] [class*=modeMuted] [class*=name] {
    color: rgba(255, 255, 255, 0.5);
  }
  [class*=sidebar] [class*=containerDefault] [class*=muted] [class*=name] {
    color: rgba(255, 255, 255, 0.5);
  }
  [class*=sidebar] [class*=containerDefault] [class*=modeSelected] [class*=content] {
    background: var(--main-color-semitransparent-selected) !important;
    color: #ffffff !important;
  }
  [class*=sidebar] [class*=containerDefault]:hover [class*=modeSelected] [class*=content] {
    background: var(--main-color-semitransparent-selected) !important;
  }
  [class*=sidebar] [class*=containerDefault] [class^=children] > [class^=icon]:nth-last-child(3) {
    display: none !important;
  }
  
  [data-list-item-id*=active-threads] [class*=name],
  [data-list-item-id*=active-threads] [class*=icon] {
    color: var(--button-text) !important;
  }
  
  [class*=avatarSpeaking] {
    box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px var(--accent-color-semitransparent);
  }
  
  [class*=avatarSpeaking]::before {
    content: "";
    z-index: -10 !important;
    position: absolute;
    left: 20px;
    height: 24px;
    width: 60%;
    border-radius: -5px;
    background: linear-gradient(to right, var(--accent-color-semitransparent), transparent);
    opacity: 1;
    border-color: transparent;
    filter: brightness(10);
  }
  
  [class*=userLimit] > [class*=wrapper] {
    border-radius: 5px !important;
  }
  [class*=userLimit] [class*=total] {
    color: var(--accent-saturated);
    background: rgba(0, 0, 0, 0.6) !important;
  }
  [class*=userLimit] [class*=total]::after {
    border-right-color: rgba(0, 0, 0, 0.4) !important;
  }
  [class*=userLimit] [class*=users] {
    color: var(--accent-color);
    background: rgba(0, 0, 0, 0.3) !important;
  }
  
  nav[class*=container] > [class*=container] > header:hover {
    background: transparent !important;
  }
  
  [class*=layer] [class*=animator] [class*=container][class*=scrollerBase] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  
  [class*=panels] {
    border-top: 1px solid var(--background-modifier-accent);
  }
  [class*=panels] > [class*=activityPanel], [class*=panels] > [class*=container] {
    border: 0;
  }
  [class*=panels] > [class*=activityPanel] button:hover, [class*=panels] > [class*=container] button:hover {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  [class*=panels] > [class*=wrapper] > [class*=container] {
    border: 0;
  }
  [class*=panels] [class*=actionButtons] button {
    background: var(--main-color-semitransparent) !important;
    color: var(--button-text) !important;
  }
  [class*=panels] [class*=actionButtons] button:hover {
    background: var(--main-color-semitransparent-selected) !important;
    color: var(--button-text-selected) !important;
  }
  
  [class*=focusLock] [class*=modal] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  [class*=focusLock] [class*=modal] [class*=horizontalReverse] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  [class*=focusLock] [class*=modal] [class*=radioBar] > div:not([class*=info]) circle {
    fill: var(--main-color) !important;
  }
  
  [aria-label=GUILD_SETTINGS] [class^=sidebar] [class*=item]:hover {
    background: var(--main-color-semitransparent) !important;
    color: var(--button-text) !important;
  }
  [aria-label=GUILD_SETTINGS] [class^=sidebar] [class*=item][class*=selected] {
    background: var(--main-color-semitransparent-selected) !important;
    color: var(--button-text-selected) !important;
  }
  
  [class*=circleButton] {
    background-color: var(--main-color-semitransparent) !important;
  }
  [class*=circleButton]:hover {
    background-color: var(--main-color-semitransparent-selected) !important;
  }
  
  [class*=stickyHeaderElevated]::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: var(--app-background) center/cover no-repeat fixed;
    background-position: unset;
  }
  
  [class^=content-] > [class^=emojiRow-][class*=card-] {
    background: transparent !important;
  }
  
  [class*=emojiRemove] {
    background-color: var(--main-color-semitransparent-selected) !important;
  }
  
  [role=radiogroup] [aria-checked=true] [style*="hsl(139)"] {
    background: rgba(0, 230, 77, 0.3) !important;
  }
  
  [role=radiogroup] [aria-checked=true] [style*="hsl(38"] {
    background: rgba(255, 196, 0, 0.3) !important;
  }
  
  [role=radiogroup] [aria-checked=true] [style*="hsl(21"] {
    background: rgba(242, 97, 0, 0.3) !important;
  }
  
  [role=radiogroup] [aria-checked=true] [style*="hsl(359"] {
    background: rgba(244, 40, 40, 0.3) !important;
  }
  
  [role=list] > [class*=auditLog] {
    border-color: #000 !important;
  }
  [role=list] > [class*=auditLog] > [class^=header] {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  [role=list] > [class*=auditLog] > [class^=divider] {
    background: #000 !important;
  }
  [role=list] > [class*=auditLog] > [class*=changeDetails] {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  



[class^=control-] [class^=container-] {
    background: var(--accent-color-semitransparent) !important;
  }
  
  [class^=control-] [class^=container-][style*="hsl(139"] {
    background: var(--main-color) !important;
  }
  [class^=control-] [class^=container-][style*="hsl(139"] [class^=slider] path {
    fill: var(--main-color);
  }
  [class*=wordmark] svg {
    display: none;
  }
  [class*=wordmark]::before, [class*=wordmark]::after {
    height: 16px;
    font-family: var(--font-primary);
  }
  [class*=wordmark]::before {
    content: "PaviBayl";
    color: rgba(255, 255, 255, 0.5);
    margin-left: 2px;
    font-size: 16px;
    font-weight: bold;
  }
  [class*=wordmark]::after {
    content: "v1.0 альфа";
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    margin-left: 8px;
  }



  [class^=nowPlayingSidebar-] > [class^=container-] {
    background: transparent !important;
  }
  
  [class^=stageSection-] > [class^=container-] > [class^=container-] {
    background: rgba(0, 0, 0, 0.15);
  }
  
  [class^=stageSection-] > [class^=container-] > [class^=container-]:nth-last-child(2) {
    background: transparent !important;
  }
  
  [class^=guildInfoContainer-] > [class^=rightJustifiedContent-] > div {
    background: var(--main-color) !important;
  }
  [class^=base-] > [class^=content-] > div:nth-child(2) section[class*=container-] {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  [class^=layerContainer-] > [class*=toolbar] {
    background: rgba(0, 0, 0, 0.95) !important;
    border: 2px solid black;
  }
  [class^=layerContainer-] > [class*=toolbar]::before {
    border-top-color: black !important;
  }



